<div class="round-container mat-elevation-z5" @fadeFromLeft>
    <h1>registre-se</h1>
    <form [formGroup]="formGroup" (submit)="register()">        
        <mat-form-field fxFill>
            <mat-label>e-mail</mat-label>
            <input matInput formControlName="email">   
            <mat-error *ngIf="formGroup.get('email').errors?.notuniuqe">este e-mail ja esta registrado. Se voce esqueceu sua senha clique <strong>aqui</strong></mat-error>         
            <mat-error *ngIf="formGroup.get('email').errors?.email">preencha seu e-mail corretamente</mat-error>            
        </mat-form-field>
        <mat-form-field fxFill>
            <mat-label>seu nome</mat-label>
            <input matInput formControlName="name">            
            <mat-error>preencha seu nome</mat-error>
        </mat-form-field>
        <mat-form-field fxFill>
            <mat-label>senha</mat-label>
            <input matInput type="password" formControlName="password">            
            <mat-error *ngIf="formGroup.get('password').errors?.required">escolha uma senha</mat-error>
            <mat-error *ngIf="formGroup.get('password').errors?.minlength">a senha deve ter no minimo 8 caracteres</mat-error>
        </mat-form-field>
        <mat-form-field fxFill>
            <mat-label>repita a senha</mat-label>
            <input matInput type="password" formControlName="repeatPassword">            
            <mat-error *ngIf="formGroup.get('repeatPassword').errors?.required">preenchimento obrigatorio</mat-error>
            <mat-error *ngIf="formGroup.get('repeatPassword').errors?.dontmatch">a confirmacao nao bate com a senha</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end center">
            <mat-spinner diameter="30" *ngIf="waitingResult"></mat-spinner>
            <button *ngIf="!waitingResult" [disabled]="formGroup.invalid || formGroup.pending" type="submit" mat-stroked-button color="primary">criar</button>
        </div>
    </form>   
</div>


